.flex-all-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-2
{
    margin: 2px -22px;

}
.text-center
{
    text-align: center;
}
.my-3
{
    margin: 10px 0px;
}
hr{
    width: 103vw;
    margin-left: -63px;
}